flashtext==2.7
git+https://github.com/boudinfl/pke.git
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
sense2vec==2.0.1
sentence_transformers==2.2.2
torch
sentencepiece==0.1.95
transformers
torch
sentencepiece==0.1.95
transformers
nltk
gradio